<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
      <% for (const item in newListItems) { %>
        <form action="/delete" method="post">
          <div class="item">
            <!-- The onchange is what allows us to submit the checkbox input without needing a submit button. -->
            <input type="checkbox" name="checkedBox" value="<%= newListItems[item]._id %>" onchange="this.form.submit()">
            <p><%= newListItems[item].name %></p>
          </div>
        </form>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
